<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e24c4a6-959c-4600-998e-44a201e80bd4/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/BookShop21092001</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <ApiResourceId>/subscriptions/7e24c4a6-959c-4600-998e-44a201e80bd4/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.ApiManagement/service/BookShopapi/apis/BookShop</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookshop21092001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d1ededa2-6c0d-410b-b556-4b669e3a3e20</ProjectGuid>
    <MSDeployServiceURL>bookshop21092001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookShop21092001</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BookShop21092001</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>