
<div class="container my-5 vh-100">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center text-white">
          <h1>Error</h1>
          <br />
          <p class="text-white">There was an error with your request, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
          <p class="text-white"><b>Or you could just press this neat little button:</b></p>
          <a asp-controller="Home" asp-action="Index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
        </div>
        <br />
    </div>
  </div>
</div>