@model BookVM
<br />
<br />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
<h2>Edit Book: @Model.Title </h2>
<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control"/>
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Publisher" class="control-label"></label>
        <input asp-for="Publisher" class="form-control"/>
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookImage" class="control-label"></label>
        <input asp-for="BookImage" class="form-control"/>
        <span asp-validation-for="BookImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label">Select Genre</label><br />
        <select class="form-control" onsubmit="this.form.submit()" name="selectedGenre" asp-items=ViewBag.genreList></select>
    </div> 
    <br /><br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
</div>
</div>