<style> 

/* plus glyph for showing collapsible panels */
.panel-heading .accordion-plus-toggle:before {
   font-family: FontAwesome;
   content: "\f068";
   float: right;
   color: silver;
}

.panel-heading .accordion-plus-toggle.collapsed:before {
   content: "\f067";
   color: silver;
}

/* arrow glyph for showing collapsible panels */
.panel-heading .accordion-arrow-toggle:before {
   font-family: FontAwesome;
   content: "\f078";
   float: right;
   color: silver;
}

.panel-heading .accordion-arrow-toggle.collapsed:before {
   content: "\f054";
   color: silver;
}

/* sets the link to the width of the entire panel title */
.panel-title > a {
   display: block;
}

</style>
<body>
    <div class="container my-5">
        <div class="row">
            <h1 class="text-white">FAQs</h1>
        </div>
        <div class="row">
            <div class="panel-group" id="accordion7401210" role="tablist" aria-multiselectable="false">
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading8122873">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse8122873" aria-expanded="false" aria-controls="collapse8122873">Question 1</a>
                        </h5>
                    </div>
                    <div id="collapse8122873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8122873">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading411391">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse411391" aria-expanded="false" aria-controls="collapse411391">Question 2</a>
                        </h5>
                    </div>
                    <div id="collapse411391" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading411391">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading2183316">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse2183316" aria-expanded="false" aria-controls="collapse2183316">Question 3</a>
                        </h5>
                    </div>
                    <div id="collapse2183316" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2183316">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Question 4</a>
                        </h5>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Question 5</a>
                        </h5>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading6">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse6" aria-expanded="false" aria-controls="collapse6">Question 6</a>
                        </h5>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading7">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse7" aria-expanded="false" aria-controls="collapse7">Question 7</a>
                        </h5>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading8">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse8" aria-expanded="false" aria-controls="collapse8">Question 8</a>
                        </h5>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading9">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse9" aria-expanded="false" aria-controls="collapse9">Question 9</a>
                        </h5>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading10">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse10" aria-expanded="false" aria-controls="collapse10">Question 10</a>
                        </h5>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading11">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse11" aria-expanded="false" aria-controls="collapse11">Question 11</a>
                        </h5>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading12">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse12" aria-expanded="false" aria-controls="collapse12">Question 12</a>
                        </h5>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
                <div class="Qpanel panel-default mb-3">
                    <div class="panel-heading" role="tab" id="heading13">
                        <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210" href="#collapse13" aria-expanded="false" aria-controls="collapse13">Question 13</a>
                        </h5>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                        <div class="panel-body bg-light">Lorem ipsum dolor sic amet!</div>
                    </div>
                </div>
            </div>

    </div>
</body>